<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Libros</title>
</head>
<body>
    <h1>Lista de Libros</h1>

        {% for Libro in mostrar_libros %}

            <libro>
                <titulo>Título: {{Libro.titulo}}</titulo><br>
                <autor>Autor: {{Libro.autor}}</autor><br>
                <editorial>Editorial: {{Libro.editorial}}</editorial><br>
                <fechaPub>Fecha de publicación: {{Libro.fecha_publicacion}}</fechaPub><br>
            </libro><br>
        {% endfor %}
</body>
</html>